.container {
    width: calc(100% - 105px);
    padding: 0 48px 24px;
    background-color: var(--primary);
    margin: auto;
    transition: 0.3s;
}
.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;
}
.title > .title-sub {
    font-size: 27px;
    list-style: 27px;
    font-weight: 700;
}
.title > .add {
    width: 40px;
    height: 40px;
    padding: 9px;
}

table {
    border-spacing: 0px 16px;
}

.list-title {
    & span {
        font-size: 16px;
        font-weight: 600;
    }
    & > tr {
        & > .table-list-content {
            text-align: center;
        }
    }
}
.table-list-item {
    & img {
        width: 40px;
        height: 40px;
        padding: 8px;
    }
    & span {
        font-size: 16px;
        line-height: 30px;
    }
    & .content {
        & > span:first-child {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
        }
    }
}
.table-list-content,
.table-list-item {
    min-width: 150px;
    text-align: center;
}
.table-list-item {
    & > .table-item {
        padding: 12px 0;
        & > .content {
            display: flex;
            justify-content: space-between;
            & span{
                text-align: left;
            }
        }
    }
}
.table-list-item:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.table-list-item:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.btn-option {
    width: 100%;
    display: flex;
    justify-content: center;
    & > button {
        margin: 0;
        padding: 0;
    }
}

.grid_full_width {
    width: 100%;
    margin: 0 auto;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.grid__column-full {
    width: 100%;
}

.grid__column-2 {
    width: calc(100% / 2);
}

.grid__column-2-3 {
    width: calc(100% * 2 / 3);
}

.grid__column-3 {
    width: calc(100% / 3);
    padding: 24px;
}

.grid__column-4 {
    width: calc(100% / 4);
}

.grid__column-8 {
    width: calc(100% / 8);
}

.grid__column-10 {
    width: calc(100% / 10);
}

.btn {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    font-size: 16px;
    font-family: Nunito, sans-serif;
    background-color: var(--white);
    cursor: pointer;
    text-decoration: none;
    height: 56px;
    font-weight: 600;
    transition: 0.2s;
}

.btn.blue {
    background-color: var(--blue);
    color: var(--white);
}
.btn.white {
    background-color: var(--white);
}
.btn.gray {
    background-color: #eceff1;
}
.btn.blue:hover {
    background-color: rgb(28, 68, 178);
}
.btn.white:hover {
    background-color: rgba(41, 98, 255, 0.04);
}
.btn.gray:hover {
    background-color: rgb(178, 178, 178);
}

.btn-full-width {
    width: 100%;
}

.btn-half-width {
    width: 50%;
}

.link {
    color: #2996ff;
    font-size: 14px;
    text-underline-position: under;
}
.box {
    border-radius: 20px;
    height: 94px;
    width: 100%;
    padding: 12px 0;
    & > td {
        background-color: var(--white);
    }
}

.bg-red {
    background-color: var(--red);
}
.bg-yellow {
    background-color: var(--yellow);
}
.bg-blue {
    background-color: var(--blue);
}
.bg-gray {
    background-color: var(--primary);
}
.list-3-cham {
    min-width: 120px;
    background-color: white;
    padding: 8px;
    border-radius: 16px;
    border: 1px solid #ccc;
    & > li {
        font-size: 16px;
        line-height: 20px;
        padding: 10px;
        text-align: center;
        &:hover {
            color: var(--blue);
            cursor: pointer;
        }
        & + li {
            border-top: 1px solid #ccc;
        }
    }
}
