.container {
    width: calc(100% - 105px);
    padding: 0 48px 24px;
    background-color: var(--primary);
    margin: auto;
    transition: 0.3s;
}
.user-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.user-title > .title {
    font-size: 27px;
    list-style: 27px;
    font-weight: 700;
}
.user-title > .add {
    width: 40px;
    height: 40px;
    padding: 9px;
}
.user-list {
    width: 100%;
}
.user-list-table {
    width: 100%;
}

table {
    border-spacing: 0px 16px;
}
.user-list-title > tr > .user-list-item,
.user-list-content > tr > .user-list-item {
    align-items: center;
    text-align: center;
    font-size: 16px;
}
.user-list-title > tr > .user-list-item {
    font-weight: 700;
}
.user-list-content > tr > .user-list-item.user > .info-user {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 16px;
    height: 94px;
}

.user-list-content > tr > .user-list-item.user > .info-user > .content > .name {
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
}
.user-list-content > tr > .user-list-item.user > .info-user > .content > .email {
    font-size: 15px;
    font-weight: 400;
}
.user-list-content > tr > .user-list-item.user > .info-user > .avatar {
    width: 40px;
    height: 40px;
    padding: 4px;
    margin-right: 12px;
}

.user-list-content > tr > .user-list-item.user > .info-user > .avatar:hover {
    background-color: var(--primary);
    border-radius: 20px;
}
.user-list-content > tr > .user-list-item.action > div {
    padding-top: 12px;
}
.user-list-content > tr > .user-list-item.action > div > .action {
    margin: 0 auto;
    padding: 16px 0;
}
.user-list-content > tr > .user-list-item.action > div > .action > img {
    width: 40px;
    height: 40px;
    padding: 8px;
}
.user-list-item.checkbox {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.user-list-item.action {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.grid_full_width {
    width: 100%;
    margin: 0 auto;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.grid__column-full {
    width: 100%;
}

.grid__column-2 {
    width: calc(100% / 2);
}

.grid__column-2-3 {
    width: calc(100% * 2 / 3);
}

.grid__column-3 {
    width: calc(100% / 3);
    padding: 24px;
}

.grid__column-4 {
    width: calc(100% / 4);
}

.grid__column-8 {
    width: calc(100% / 8);
}

.grid__column-10 {
    width: calc(100% / 10);
}

.btn {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    font-size: 16px;
    font-family: Nunito, sans-serif;
    background-color: var(--white);
    cursor: pointer;
    text-decoration: none;
    height: 56px;
    font-weight: 600;
    margin: 24px 0 16px;
    transition: 0.2s;
}

.btn.blue {
    background-color: var(--blue);
    color: var(--white);
}
.btn.white {
    background-color: var(--white);
}
.btn.gray {
    background-color: #eceff1;
}
.btn.blue:hover {
    background-color: rgb(28, 68, 178);
}
.btn.white:hover {
    background-color: rgba(41, 98, 255, 0.04);
}
.btn.gray:hover {
    background-color: rgb(178, 178, 178);
}

.btn-full-width {
    width: 100%;
}

.btn-half-width {
    width: 50%;
}

.link {
    color: #2996ff;
    font-size: 14px;
    text-underline-position: under;
}
table {
    border-collapse: separate !important;
    border-spacing: 0 20px !important;
}
.box {
    border: none;
    border-radius: 20px;
    height: 94px;
    width: 100%;
    padding: 12px 0;
    & > td {
        background-color: var(--white);
    }
}

.bg-red {
    background-color: var(--red);
}
.bg-yellow {
    background-color: var(--yellow);
}
.bg-blue {
    background-color: var(--blue);
}
.bg-gray {
    background-color: var(--primary);
}
.list-3-cham {
    width: 120px;
    background-color: white;
    padding: 8px;
    border-radius: 16px;
    border: 1px solid #ccc;
    & > li {
        font-size: 16px;
        line-height: 20px;
        padding: 10px;
        &:hover {
            color: var(--blue);
            cursor: pointer;
        }
        & + li {
            border-top: 1px solid #ccc;
        }
    }
}
