{
    "plugins": [
        [
            "module-resolver",
            {
                "alias": {
                    "~": "./src",
                    "db": "Database"
                }
            }
        ]
    ]
}
